<div>
  <div class="main-banner">
    WE WON SO MANY MEDALS WOOO
  </div>
  <div class="top-sports">
    <div class="cards"></div>
    <div class="cards"></div>
    <div class="cards"></div>
  </div>
</div>