<div>
  <div class="main-banner"></div>
  <div class="top-sports">
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
  </div>
  <div class='history'>
    <div class='year'>
      <p>2016</p>
    </div>
    <div class='year'>
      <p>2012</p>
    </div>
    <div class='year'>
      <p>2008</p>
    </div>
    <div class='year'>
      <p>2004</p>
    </div>
  </div>
</div>