<div>
  <div class="main-banner"></div>
  <div class="top-sports">
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
  </div>
  <div class='history'>
    <div class='year'>
      <div>
        <figure>
          <img
            src="http://www.rightshotcorporate.com/wp-content/gallery/architecture-interiors/img-src22corporate-photography-london.jpg22-alt22architecture-and-interior-photography22-25.jpg"
            alt=""
            class='olympic-img'>
          <figcaption> Year </figcaption>
        </figure>

      </div>

    </div>
  </div>
</div>